.loginScreen {
    margin-top: 100px;

    @include flex_column_center;

    @include v550 {
        margin-top: 30px;
    }

    &__text {
        @include p_normal_font;
        text-align: center;

        &_success {
            color: $green_1;
        }

        &_error {
            color: $red_1;
        }
    }
}
