.welcome {
    z-index: 1;

    @include flex_column_center;
    width: 100%;
    max-width: 440px;
    padding: 20px;

    background-color: $bg_color_1;
    border-radius: 20px;

    filter: drop-shadow(0 0 4px $white);

    @include p_normal_font;
    color: $grey_1;

    @include v550 {
        padding: 10px;

        @include p_small_font;

        border-radius: 10px;
    }

    &__title {
        @include p_big_font;
        color: $black;

        @include v550 {
            @include p_normal_font;
        }
    }

    &__text {
        color: $green_1;

        &_red {
            color: $form_button_color_2;
        }
    }

    &__memo {
        @include p_small_font;
        text-align: center;
        hyphens: auto;
    }
}
