.welcome {
    @include in_modal_window_field;

    &__title {
        @include p_big_font;
        color: $black;

        @include v550 {
            @include p_normal_font;
        }
    }

    &__text {
        color: $green_1;

        &_red {
            color: $form_button_color_2;
        }
    }

    &__memo {
        @include p_small_font;
        text-align: center;
        hyphens: auto;
    }
}
